.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffec;
  border-radius: 20px;
  width: 50vw;
  height: 33vh;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 12%);
}

.card-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.card-logo:hover {
  transform: scale(1.1);
  transition: all .50s ease;
  box-shadow: 0px 4px 15px rgba(255, 92, 214, 0.555);
}

.card-dados {
  text-align: left;
  margin: 15px 20px;
}

.card-contatos {
  margin-top: 14px;
 }

.card-contatos a {
  margin-right: 20px;
}

.card-contatos :hover {
  transform: scale(1.1);
  transition: all .50s ease;
}